@model FinalProject.Models.Application

@{
    ViewBag.Title = "Create";
}

<div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

    <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
    <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
    <br />

    <div class="form-horizontal">
        <div style="text-align:center; margin-bottom:60px">
            <br />
            <h3> ∙ &nbsp; Submit Application &nbsp; ∙</h3>
        </div>

        <div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Posting Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Posting.Job.JobTitle, "Job Title :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Posting.Job.JobTitle, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Posting.Job.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Posting.Job.JobCode, "Job Code :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Posting.Job.JobCode, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Posting.Job.JobCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Posting.School.SchoolName, "School :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Posting.School.SchoolName, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Posting.School.SchoolName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <hr />
        <h4>Applicant Information</h4>
        <div class="form-group" style="visibility:hidden">
            @Html.LabelFor(model => model.ApplicantID, "ApplicantID: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicantID, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.ApplicantID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Applicant.FullName, "Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Applicant.FullName, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Applicant.FullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Applicant.EMail, "Email: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Applicant.EMail, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Applicant.EMail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Applicant.PhoneNumber, "Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Applicant.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                @Html.ValidationMessageFor(model => model.Applicant.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply" class="btn btn-default" />
            </div>
        </div>
    </div>
    
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

 @Html.Raw(TempData["msg"])