@model FinalProject.Models.Applicant

@{
    ViewBag.Title = "Applicant Details";
}


    <div class="container well well-lg" style=" width:1000px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

        <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />

        <div style="margin:0 auto">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3 style="text-align:center; padding-bottom:30px">
                ∙ &nbsp; Applicant Details &nbsp; ∙
            </h3>&nbsp;&nbsp;

            <div style="margin:0 auto; text-align:center; ">
                
                    <div>
            @{
                if (Model.ApplicantImage != null)
                {
                    string imageBase64 = Convert.ToBase64String(Model.ApplicantImage.ImageContent);
                    string imageSrc = string.Format("data:" + Model.ApplicantImage.ImageMimeType + ";base64,{0}", imageBase64);
                    <img src="@imageSrc" style="max-height: 500px; max-width: 600px" class="img-responsive img-rounded" /><br />
                }
            }

            </div>
            
            <br />

            <div style="text-align:left; font-size:18px">
                <table style="width: 40%; margin-left:350px">
                    <tr>
                        <td style="font-weight:bold; color:#012e72">
                            First Name:
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FName) 
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; color:#012e72">
                            Last Name:
                        </td>
                        <td>
                             @Html.DisplayFor(model => model.LName)    
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; color:#012e72">
                            Address:  
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address)<br>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; color:#012e72">
                            Email:
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EMail)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold; color:#012e72">
                            Phone Number:
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </td>
                    </tr>

                </table>
  
                <br/>
                <br />
         
        <div style="text-align:center">
                <h4>
                   Resume:
                </h4> 
    
                @{
            foreach (var f in Model.Files)
            {
                @:  @Html.ActionLink(f.fileName, "Download", new { id = f.ID }) <br />
        }
            }
  
            <br>
            <input type="button" value="View" class="btn btn-default btn-sm" />
            <input type="button" value="Download" class="btn btn-default btn-sm" />
    </div>
        </div>
  
    </div>
 </div>
</div>