@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Archive Posting";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArchivePosting</title>
    <script type="text/javascript">
        function sliderChange(val) {
            document.getElementById('sliderStatus').innerHTML = val;

        }

    </script>


</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
        <br />
        <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> ∙ &nbsp; Archive this Posting &nbsp; ∙</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />
        <br />
       
            <h3 style="text-align:center">Are you sure you want to move this posting to Archives?</h3>
            <br /><br />

            <div style="font-size:18px; margin-top:10px; margin-bottom:30px">

                <table style="width:35%; margin-left:450px; text-align:left">
                    <tr>
                        <td style="color:#02388a"><b>Job Title:</b></td>
                        <td><b> @Html.DisplayNameFor(model => model.ID)</b></td>
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </tr>
                    <tr>
                        <td style="color:#02388a"><b>Expired Date:</b></td>
                        <td><b>@Html.DisplayFor(model => model.ClosingDate)</b></td>
                    </tr>
                    <tr>
                        <td style="color:#02388a"><b>School:</b></td>
                        <td><b>  @Html.DisplayNameFor(model => model.School.SchoolName)</b></td>
                    </tr>
                    <tr>
                        <td style="color:#02388a"><b>Job Code:</b></td>
                        <td><b>@Html.DisplayFor(model => model.JobCode)</b></td>
                    </tr>
                </table>
            </div>
            <br />
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div style="margin-top:30px; text-align:center; margin-bottom:30px">
                <input type="submit" value="Move to Archives" style=" border:none;" class="btn btn-info btn-large" />
                <br /><br />
                <a href="javascript:void(0);" onclick="history.go(-1);">Cancel</a>
            </div>

        }



    </div>
</body>
</html>
