@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Create Posting";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

        <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />

        <div class="form-horizontal">
            <div style="text-align:center; margin-bottom:60px">

                
                <br />
                <h3> · &nbsp; Create New Posting&nbsp; ·</h3>
            </div>

            <div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>


        @* Divider *@
        <div class="modal-body row">

            @* Column 1 *@
            <div class="col-md-6">
                <div>
                    <div class="form-horizontal">
                        <table style="text-align: left; width:60%; margin:0 auto;">

                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>@Html.LabelFor(model => model.NumberOpen, "Openings: ")</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.NumberOpen, new { htmlAttributes = new { @class = "form-control", @style = "width:75px" } })
                                    @Html.ValidationMessageFor(model => model.NumberOpen, "", new { @class = "text-danger" })
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:10px; width:50%">
                                    <h4>@Html.LabelFor(model => model.JobCode, "Job Title: ")</h4>
                                </td>
                                <td style="padding-bottom:10px;">
                                    @Html.EditorFor(model => model.JobCode, new { htmlAttributes = new { @class = "form-control", @style = "width:75px" } })
                                    @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.PostingStatusID, new { htmlAttributes = new { @class = "form-control", @style = "visibility: hidden;" } })

                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4 style="display:inline-block">@Html.LabelFor(model => model.School, "School: ")</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @* Dropdown should be textbox auto complete *@
                                    @Html.DropDownList("SchoolID", null, "Select a School", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })


                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4 style="display:inline-block">@Html.LabelFor(model => model.School.City, "City: ")</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                                    <input type="text" class="form-control" id="City" readonly="readonly" />

                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>@Html.LabelFor(model => model.Fte, "FTE: ")</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    <input type="range" id="range" onInput="sliderChange(this.value)" min="0.0" max="1.5" step="0.1" value="0.0">
                <br />
                                    @Html.EditorFor(model => model.Fte, new { htmlAttributes = new { @id = "sliderStatus", @class = "form-control", @style = "width:75px" } })
                                    @Html.ValidationMessageFor(model => model.Fte, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>@Html.LabelFor(model => model.ClosingDate, "Deadline: ")</h4>
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>@Html.LabelFor(model => model.StartDate, "Job Start Date: ")</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>@Html.LabelFor(model => model.JobEndDate, "Job End Date: ")</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.JobEndDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            @* Column 2 *@
            <div class="col-md-6">
                <div>
                    <div class="form-horizontal">

                        <table style="text-align: left; width:60%; margin:0 auto;">

                            @* Requirements checkboxex *@
                       <tr>
                                <td>
                                    <br />
                                    <h4>@Html.LabelFor(model => model.Job.Requirements, "Requirements: ")</h4>
                                </td>
                                    <tr>
                                                                    @{
                            int cnt = 0;
                            List<FinalProject.ViewModels.AssignedRequirmentVM> requirements = ViewBag.Requirements;
                            foreach (var requirement in requirements)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedRequirements"
                                               value="@requirement.RequirmentID"
                                               @(Html.Raw(requirement.Assigned ? "checked=\"checked\"" : "")) />
                                        @requirement.RequirementName @:&nbsp;&nbsp;
                                        @:</td>
                                    }
                                    @:</tr>
                            }

                          
                           
                                    
                               
                            @* Qulification checkboxex *@

                            <tr>
                                <td>
                                    <br />
                                    <h4>@Html.LabelFor(model => model.Job.Qualifications, "Qualifications: ")</h4>
                                </td>
                                    <tr>
                                                                    @{
                            int cnts = 0;
                            List<FinalProject.ViewModels.AssignedQualificationVM> qualifications = ViewBag.Qualifications;
                            foreach (var qualification in qualifications)
                            {
                                if (cnts++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedQualifications"
                                               value="@qualification.QualificationID"
                                               @(Html.Raw(qualification.Assigned ? "checked=\"checked\"" : "")) />
                                        @qualification.QualificationSet @:&nbsp;&nbsp;
                                        @:</td>
                                    }
                                    @:</tr>
                            }
                              

                            

                            <tr>
                            
                                <td>
                                    <br />
                                    <h4>@Html.LabelFor(model => model.Job.Skills, "Skills: ")</h4>
                                </td>
                                <td>
                                                                    @{
                            int cnts2 = 0;
                            List<FinalProject.ViewModels.AssignedSkillVM> skills = ViewBag.Skills;
                            foreach (var skill in skills)
                            {
                                if (cnts2++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedSkills"
                                               value="@skill.SkillID"
                                               @(Html.Raw(skill.Assigned ? "checked=\"checked\"" : "")) />
                                        @skill.SkillName @:&nbsp;&nbsp;
                                        @:</td>
                                    }
                                    @:</tr>
                            }
                             
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div style="margin-left:135px; width:100%">
            <h4>@Html.LabelFor(model => model.PostingDescription, "Job Description: ")</h4>
            <br />
            @Html.EditorFor(model => model.PostingDescription, new { htmlAttributes = new { id = "desc", @class = "form-control", @rows = "2", @cols = "100", @style = "max-width:73%; height:200px;", @placeholder = "Enter Description here..." } })

        </div>
        <br />
        <br />

        <div style="text-align:center">
            <input type="submit" value="Publish" style="background-color:#00a203; border:none;" class="btn btn-primary btn-large" />
            <br />
            <br />
            <a href="javascript:void(0);" style="text-align:center" onclick="history.go(-1);">Back</a>
        </div>
        <br />


    </div>


}

<script type="text/javascript">
    function sliderChange(fteVal) {

        sliderVal = document.getElementById('sliderStatus');
        sliderVal.value = fteVal;
        fte = fteVal;
       

    }
</script>

@section Scripts {
    <script type="text/javascript">
        $('#SchoolID').change(function () {
            $('#City').val('');
            var selectedSchool = $("#SchoolID").val();
            var URL = "/Posting/GetCity/" + selectedSchool;
            $.getJSON(URL, function (data) {
                if (data != null && !jQuery.isEmptyObject(data)) {
                    $('#City').val(data.CityName);

                };
            });
        });
    </script>

}



