@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

            <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
            <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
                    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
                    <br />


                    <div class="form-horizontal">
                        <div style="text-align:center; margin-bottom:60px">
                            <h3> ∙ &nbsp; Create New Posting&nbsp; ∙</h3>
                        </div>

                        <!-- Columns -->

                        <div>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-6" style="width:600px">
                                <table id="alignTable" style="margin:0 auto; width:70%;">
                                    <tr>
                                        <td>
                                            <h4 display:inline-block;">@Html.LabelFor(model => model.Job.JobTitle, "Job Title: ")</h4>
                                        </td>
                                        <td>

                                            <button class="btn btn-default" id="ddlRefresh" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
                                            <a href="@Url.Action("Create", "Jobs", new { addJob = "AddJob" })" , target="_blank" type="submit" id="addJob" class="btn btn-default">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                            @Html.DropDownList("JobID", null, "Select a Job Title", htmlAttributes: new { @class = "form-control", @style = "width:200px", @runat = "server" })
                                           
    @section Scripts {
       @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            $('#ddlRefresh').click(function (event) {
                event.preventDefault();
                var JobsSelect = $('#JobID');
                var selectedJob = JobsSelect.val();

                $.getJSON('@Url.Action("GetJobs")', { JobID: selectedJob }, function (jobs) {
                    if (jobs != null && !jQuery.isEmptyObject(jobs))
                    {
                        JobsSelect.empty();
                        JobsSelect.append($('<option/>', {
                            value: null,
                            text: "Select a Job"
                        }));
                        $.each(jobs, function (index, job) {
                            JobsSelect.append($('<option/>', {
                                value: job.Value,
                                text: job.Text,
                                selected: job.Selected
                            }));
                        });
                    };
                });
                $('#JobID').fadeToggle(400, function () {
                    $('#JobID').fadeToggle(400);
                });

            });


            $('#ddlAuto').click(function (event) {
                event.preventDefault();
                //select the schoolID dropdown
                var SchoolsSelect = $('#SchoolID');
                var textbox = $('#CityID');
                //selected schoolID get the value of it
                var selectedSchool = SchoolsSelect.val();

                
                $.getJSON('@Url.Action("GetSchoolCity")', { SchoolID: selectedSchool }, function (schools) {

                    //if its not empty run this
                    if (schools != null && !jQuery.isEmptyObject(schools)) {
                        textbox.empty();

                        $.each(schools, function (index, school) {
                            textbox.append($('<option/>', {
                                value: school.Value,
                                text: school.Text
                            }));
                            
                        });

                        
                    };
                });
                $('#CityID').fadeToggle(400, function () {
                    $('#CityID').fadeToggle(400);
                });

            });

           </script>
             }

                                            @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">@Html.LabelFor(model => model.School.SchoolName, "School: ")</h4>
                                        </td>
                                        <td>

                                            @Html.DropDownList("SchoolID", null, "Select a City", htmlAttributes: new { id = "SchoolID", @class = "form-control", @style = "width:200px", @runat = "server" })
                                            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                                            Only Assumption, father Hennepin and Monsignor Clancy are working
                                            <button class="btn btn-default" id="ddlAuto" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">@Html.LabelFor(model => model.School.City, "City: ")</h4>
                                        </td>
                                        <td>

                                            @Html.DropDownList("CityID", null, null, htmlAttributes: new { @class = "form-control", @style = "width:200px", @runat = "server" })
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Number of Openings:</h4>
                                        </td>
                                        <td>

                                            @Html.EditorFor(model => model.NumberOpen, new { htmlAttributes = new { @class = "form-control", @style = "width:75px" } })
                                        </td>
                                    </tr>

                                </table>

                                <br />

                                <h4 style="margin-left:85px">Posting Description:</h4>
                                <br />
                                @Html.EditorFor(model => model.PostingDescription, new { htmlAttributes = new { @class = "form-control", @rows = "2", @cols = "20", @style = "width:430px; height:200px; margin-left:85px;", @placeholder = "Enter Description here..." } })
                            </div>

                            <div class="col-md-6" style="width:600px">
                                <table id="alignTable" style="margin:0 auto; width:70%;">
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">Closing Date:</h4>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">Start Date:</h4>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">Requirements:</h4>
                                        </td>
                                        <td>
                                           
                                            code here. it should be automatic when u select job title in dropdown

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top">
                                            <h4 style="display:inline-block">Qualification:</h4>
                                            <input type="button" value="Add" class="btn btn-default" />
                                        </td>
                                        <td>

                                            code here. it should be automatic when u select job title in dropdown
                                       
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                       
                                        <td>
                                            <input type="submit" value="Create" style="background-color:#00a203; margin-left: 330px; margin-right:30px" class="btn btn-primary btn-large" />
                                        </td>
                                        <td>
                                            @Html.ActionLink("Back", "Index")
                                        </td>
                                    </tr>
                                </table>
                           </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>    
    </div>
}
