@model FinalProject.Models.Job

@{
    ViewBag.Title = "Create Posting";
}


<div class="container well well-lg" style=" width:1088px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
    <br />
    <div style="margin-bottom:100px; ">
        <p style="text-align:center;  margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />

        <h3 style="padding-top:10px; margin-bottom:50px; text-align:center;">
            Step 1: Select a Job
        </h3>&nbsp;&nbsp;
       

        @using (Html.BeginForm("Create", "Posting", FormMethod.Get, null))
        {
            @Html.AntiForgeryToken()

       
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h4 style="text-align:center; color:#02388a">Job Based On: </h4>
               <br />   
                <table style="margin:0 auto">
                    <tr><td></td><td>
                        @Html.DropDownList("JobID", null, "Select a Job", htmlAttributes: new { @class = "form-control", @style = "display:inline; margin-bottom:10px; width:200px" })
                        <button class="btn btn-default" style="display:inline; margin-bottom:10px" id="ddlRefresh" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
                        <br />
                         <a href="@Url.Action("Create", "Jobs", new { addJob = "AddJob" })" , target="_blank" type="submit" id="addJob">
                            Create New Job
                         </a>
                    </td>
                    </tr>
                </table>
                <br />
            <br />
            <div>
                <h4 style="text-align:center; color:#02388a">  @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @style = "font-weight:normal" }):</h4>
                <div>
                    <input type="text" style="width:240px; margin:0 auto" class="form-control" id="Title" readonly="readonly" />
                </div>
            </div>
                <br /> <br />     
            <div style="margin-bottom:20px">
                 <h4 style="text-align: center; color:#02388a">  Job @Html.LabelFor(model => model.JobCode, htmlAttributes: new { @style = "font-weight:normal;" }):</h4>
                <div >
                   <input type="text" style=" margin:0 auto; width: 240px" class="form-control" id="JobCode" readonly="readonly" />
                </div>
            </div>
  
     <div style="margin-top:50px;">
                <h4 style="text-align: center;  color:#02388a">
                    @Html.LabelFor(model => model.JobSummary, htmlAttributes: new { @style = "margin-bottom:20px; font-weight:normal" }):
                </h4>
                <div style="width:700px; text-align:center; font-size:16px; margin:0 auto" id="Summary"></div>    
         <br />
         <br />
         <br />

         <div class="row" style="text-align:center; margin:0 auto" ;>
                <div class="col-md-4">
                    <div >
                         <h4 style="text-align: center; color:#02388a"> Requirements:</h4>
                         <div class="well" style="font-size:16px" id="RequirementsList"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div >
                         <h4 style="text-align: center; color:#02388a"> Qualifications:</h4>
                         <div>
                             <div class="well" style="font-size:16px" id="QualificationsList"></div>
                         </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                         <h4 style="text-align: center; color:#02388a">
                             Skills:
                         </h4>
                         <div>
                            <div class="well" style="font-size:16px" id="SkillsList"></div>
                         </div>
                    </div>
                </div>
         </div>
     </div>

          <br />
          <br /> 
          <br />
      <div style="margin: 0 auto; text-align: center">
          <input type="submit" style="text-align:center; background-color:#00a203; border:none" value="Next Step" class="btn btn-primary btn-large" />
        <br />
        <br />
        <div>
            <a href="javascript:void(0);" style="text-align:center; "onclick="history.go(-1);">Back</a>
        </div>
      
      </div>
   
        }
        


    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        $('#JobID').change(function () {
            $('#Title').val('');
            $('#Summary').empty();
            $('#JobCode').val('');
            $('#SkillsList').empty();
            $('#RequirementsList').empty();
            $('#QualificationsList').empty();
            var selectedJob = $("#JobID").val();
            var URL = "/Posting/GetAJob/" + selectedJob;
            $.getJSON(URL, function (data) {
                if (data != null && !jQuery.isEmptyObject(data)) {
                    $('#Title').val(data.JobTitle);
                    $('#Summary').html(data.JobSummary);
                    $('#JobCode').val(data.JobCode);
                    $('#SkillsList').html(data.Skills);
                    $('#RequirementsList').html(data.Requirements);
                    $('#QualificationsList').html(data.Qualifications);
                    $('#w').val(data.SkillQualification);
                };
            });


    });

    $('#ddlRefresh').click(function (event) {
                event.preventDefault();
                var JobsSelect = $('#JobID');
                var selectedJob = JobsSelect.val();

                $.getJSON('@Url.Action("GetJobs")', { JobID: selectedJob }, function (jobs) {
                    if (jobs != null && !jQuery.isEmptyObject(jobs))
                    {
                        JobsSelect.empty();
                        JobsSelect.append($('<option/>', {
                            value: null,
                            text: "Select a Job"
                        }));
                        $.each(jobs, function (index, job) {
                            JobsSelect.append($('<option/>', {
                                value: job.Value,
                                text: job.Text,
                                selected: job.Selected
                            }));
                        });
                    };
                });
                $('#JobID').fadeToggle(400, function () {
                    $('#JobID').fadeToggle(400);
                });
            });


    </script>





}