@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

            <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
            <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
                    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
                    <br />


                    <div class="form-horizontal">
                        <div style="text-align:center; margin-bottom:60px">
                            <h3> ∙ &nbsp; Create New Posting&nbsp; ∙</h3>
                        </div>

                        <!-- Columns -->

                        <div>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-6" style="width:600px">
                                <table id="alignTable" style="margin:0 auto; width:70%;">
                                    <tr>
                                        <td>
                                            <h4 display:inline-block;">@Html.LabelFor(model => model.Job.JobTitle, "Job Title: ")</h4>
                                        </td>
                                        <td>
                                            @Html.DropDownList("JobID", null, "Select a Job Title", htmlAttributes: new { @class = "form-control", @style = "width:200px", @runat = "server" })
                                            @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">@Html.LabelFor(model => model.School.SchoolName, "School: ")</h4>
                                        </td>
                                        <td>
                                            @Html.DropDownList("SchoolID", null, "Select a School", htmlAttributes: new { id = "SchoolID", @class = "form-control", @style = "width:200px", @runat = "server" })
                                            @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">@Html.LabelFor(model => model.School.City, "City: ")</h4>
                                        </td>
                                        <td>
                                            @Scripts.Render("~/bundles/jquery")
                                            <script type="text/javascript" language="javascript">
                                                $('#SchoolID').change(function () { ChangeCustomer(); });

                                                function ChangeCustomer() {
                                                    var selectedValue = $('#SchoolID option:selected').val();

                                                    GetOrders(selectedValue);
                                                }

                                            </script>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Number of Openings:</h4>
                                        </td>
                                        <td>

                                            @Html.EditorFor(model => model.NumberOpen, new { htmlAttributes = new { @class = "form-control", @style = "width:75px" } })
                                        </td>
                                    </tr>

                                </table>

                                <br />

                                <h4 style="margin-left:85px">Posting Description:</h4>
                                <br />
                                @Html.EditorFor(model => model.PostingDescription, new { htmlAttributes = new { @class = "form-control", @rows = "2", @cols = "20", @style = "width:430px; height:200px; margin-left:85px;", @placeholder = "Enter Description here..." } })
                            </div>

                            <div class="col-md-6" style="width:600px">
                                <table id="alignTable" style="margin:0 auto; width:70%;">
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">Closing Date:</h4>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">Start Date:</h4>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="display:inline-block">Requirements:</h4>
                                        </td>
                                        <td>
                                           
                                            code here. it should be automatic when u select job title in dropdown

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top">
                                            <input type="button" value="Add" class="btn btn-default" />
                                        </td>
                                        <td>

                                            code here. it should be automatic when u select job title in dropdown
                                       
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                       
                                        <td>
                                            @Html.ActionLink("Save Posting", null, null, null, new { @class = "btn btn-primary btn-large", @style = "background-color:#00a203" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Back", "Index")
                                        </td>
                                    </tr>
                                </table>
                           </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>    
    </div>
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#Schools').change(function () { ChangeCustomer(); });
        $('#Orders').change(function () { ChangeOrder(); });
    });

    function ResetContent() {
        $('#Customers option:eq(0)').attr('selected', true);
        $('#Orders').empty();
    }

    function ChangeCustomer() {
        var selectedValue = $('#Schools option:selected').val(); 
            GetCity(selectedValue); 
    }

    function GetCity(ID) {
        $.ajax({
            url: '@Url.Action("Orders", "Posting")',
            data: { ID: ID },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#Orders').empty();
                    $('#Orders').append($('<option></option>').val('').text('請選擇訂單'));
                    $.each(data, function (i, item) {
                        $('#Orders').append($('<option></option>').val(item.Key).text(item.Value));
                    });
                }
            }
        });
    }

   

   

   
</script>