@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePosting</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

        <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

            <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
            <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
            <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
            <br />

                <h3 style="text-align:center; padding-bottom:30px">
                    ∙ &nbsp; Edit Posting &nbsp; ∙
                </h3>&nbsp;&nbsp;

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        <table style="width:70%;">
                            <tr>
                                <td>
                                    <h4>Job Title:</h4>
                                </td>
                                <td>
                                    @Html.TextBox("txtJobTitle", "Janitor", new { @class = "form-control", @style = "width:200px", @runat = "server" })
                                </td>
                                <td>
                                    <h4 >Closing Date:</h4>
                                </td>
                                <td>
                                    @Html.TextBox("txtEditClosingDate", "February-28-18", new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd", @runat = "server" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>School:</h4>
                                </td>
                                <td>
                                    @Html.DropDownList("ddlEditSchool", Enumerable.Empty<SelectListItem>(), "Niagara College", new { @class = "form-control", @style = "width:200px" })

                                </td>
                                <td>
                                    <h4>Start Date:</h4>
                                </td>
                                <td>
                                   @Html.TextBox("txtEditStartDate", "March-15-18", new { @class = "form-control", @style = "width:200px", @placeholder = "yyyy-mm-dd", @runat = "server" }) 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Location</h4>
                                </td>
                                <td>
                                    @Html.TextBox("txtEditLocation", "100 James Wood Ave", new { @class = "form-control", @style = "width:200px", @placeholder = "eg. 14 First Avenue, Welland", @runat = "server" })
                                </td>
                                <td>
                                    <h4>Qualifications:</h4>
                                </td>
                                <td>
                                    @Html.TextArea("txtEditQual", "High School G.E.D.", new { @class = "form-control", @rows = "2", @cols = "20", @style = "width:200px", @runat = "server" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>City:</h4>
                                </td>
                                <td>
                                    @Html.DropDownList("ddlCity", Enumerable.Empty<SelectListItem>(), "Welland", new { @class = "form-control", @style = "width:200px" })
                                </td>
                                <td>
                                    <h4>Requirements:</h4>
                                </td>
                                <td>
                                    @Html.TextArea("txtEditReq", "Patience     Vigilence ", new { @class = "form-control", @rows = "2", @cols = "20", @style = "width:200px", @runat = "server" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Job Description:</h4>
                                </td>
                                <td>
                                    @Html.TextArea("txtEditJobDesc", "Keep buildings in clean and orderly condition. Perform heavy cleaning duties, such as cleaning floors, shampooing rugs, washing walls and glass, and removing rubbish. Duties may include tending furnace and boiler, performing routine maintenance activities, notifying management of need for repairs, and cleaning snow or debris from sidewalk. ", new { @class = "form-control", @rows = "2", @cols = "20", @style = "width:200px", @placeholder = "Enter text here...", @runat = "server" })

                                </td>
                                <td>
                                    <h4>Number of Openings:</h4>
                                </td>
                                <td>
                                    <input type="number" class="form-control" min="0" max="50" step="1" value="2" style="width:75px">
                                </td>
                            </tr>

                            

                            <tr>
                                
                            </tr>
                        </table>


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <br />
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save Posting" style="background-color:#00a203" class="btn btn-primary btn-large" />
                                @Html.ActionLink("Back", "Index")
                            </div>
                        </div>
                    </div>
                }         
         </div>
</body>
</html>
