@model FinalProject.Models.Posting

@{
    ViewBag.Title = "Posting";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePosting</title>
    <script type="text/javascript">
        function sliderChange(val) {
            document.getElementById('sliderStatus').innerHTML = val;
        }
    </script>


</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
        <br />
        <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> ∙ &nbsp; Edit Posting &nbsp; ∙</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-body row">
                <div class="col-md-6" style="margin-top:30px;">

                    <div class="form-horizontal">
                        <table style="margin:0 auto; width:60%;">
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.RowVersion)

                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>Job Title:</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    
                                    @Html.DropDownList("JobID", null, "Select a Job Title", htmlAttributes: new { @class = "form-control", @style = "width:200px", @runat = "server" })
                                    @Html.ValidationMessageFor(model => model.Job.JobTitle, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>School:</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.DropDownList("SchoolID", null, "Select a School", htmlAttributes: new { id = "SchoolID", @class = "form-control", @style = "width:200px", @runat = "server" })
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>City:</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.School.City.CityName, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>Openings:</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.NumberOpen, new { htmlAttributes = new { @class = "form-control", @style = "width:60px" } })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>FTE</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    <input type="range" id="range" onInput="sliderChange(this.value)" min="0.0" max="1.5" step="0.1" value="0.0">
                                    <br /><span id="sliderStatus">0.0</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px">
                                    <h4>Deadline:</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:15px;">
                                    <h4>Start Date:</h4>
                                </td>
                                <td style="padding-bottom:15px;">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <h4>End Date:</h4>
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.JobEndDate, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>


                <div class="col-md-6" style="margin-top:30px;">
                    <div class="form-horizontal">
                        <table style="text-align: left; width:60%; margin:0 auto";>
                            
                            <tr>
                                <td>
                                    <h4>Skills:</h4>
                                </td>
                                <td>
                                    <tr>
                                                                    @{
                            int cnts2 = 0;
                            List<FinalProject.ViewModels.AssignedSkillVM> skills = ViewBag.Skills;
                            foreach (var skill in skills)
                            {
                                if (cnts2++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedSkills"
                                               value="@skill.SkillID"
                                               @(Html.Raw(skill.Assigned ? "checked=\"checked\"" : "")) />
                                        @skill.SkillName @:&nbsp;&nbsp;
                                        @:</td>
                                    }
                                    @:</tr>
                            }
                                
                           
                            <tr>
                                <td>
                                    <br /><br />
                                    <h4>Qualifications:</h4>
                                </td>
                                <td>
                                                                    @{
                            int cnts = 0;
                            List<FinalProject.ViewModels.AssignedQualificationVM> qualifications = ViewBag.Qualifications;
                            foreach (var qualification in qualifications)
                            {
                                if (cnts++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedQuals"
                                               value="@qualification.QualificationID"
                                               @(Html.Raw(qualification.Assigned ? "checked=\"checked\"" : "")) />
                                        @qualification.QualificationSet @:&nbsp;&nbsp;
                                        @:</td>
                                    }
                                    @:</tr>
                            }

                            <tr>
                                <td>
                                    <br /><br />
                                    <h4>Requirements:</h4>
                                </td>
                                <td>
                                                                    @{
                            int cnt = 0;
                            List<FinalProject.ViewModels.AssignedRequirmentVM> requirements = ViewBag.Requirements;
                            foreach (var requirement in requirements)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedReqs"
                                               value="@requirement.RequirmentID"
                                               @(Html.Raw(requirement.Assigned ? "checked=\"checked\"" : "")) />
                                        @requirement.RequirementName @:&nbsp;&nbsp;
                                        @:</td>
                                    }
                                    @:</tr>
                            }

                             
                            
                        </table>
                    </div>

                </div>

                <br />
            </div>

            <div>
                <h4 style="margin-left:138px; padding-bottom:15px">Job Description:</h4>
                @Html.EditorFor(model => model.PostingDescription, new { htmlAttributes = new { @class = "form-control", @rows = "2", @cols = "100", @style = "margin-left:138px; max-width:78%; height:100px;", @placeholder = "Enter Description here..." } })
            
            </div>                 
                             
            <div  style="text-align:center; margin-top:60px; margin-bottom:30px">
                <input type="submit" value="Save Changes" style="background-color:#00a203; border:none; " class="btn btn-primary btn-large" />
                <br /><br />
                <a href="javascript:void(0);" style="text-align:center" onclick="history.go(-1);">Cancel</a>
            </div>

        }



    </div>
</body>
</html>

<style>
    h4 {
        color: #02388a;
    }
</style>

