
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FinalProject.Models.Posting>
<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
    <br />
    <div style="margin-bottom:100px; text-align:center">
        <p style="text-align:center;  margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />
        <br />
        @Html.ActionLink("Create New Posting", "Create", "Posting", null, new { @class = "btn btn-primary btn-large", @style = "background-color:#00a203" })

        <br /><br />

        <h3 style="padding-top:20px; text-align:center;">
            ∙ &nbsp; All Listed Job Postings &nbsp; ∙
        </h3>&nbsp;&nbsp;
        <div class="container">

            <table class="table table-bordered" style="width:95%; margin:0 auto">
                
                    <tr>
                        <th>
                            Job Title
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            Closing Date
                        </th>
                        <th>
                            Number Openning
                        </th>
                        <th>
                            Posting Description
                        </th>
                        
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.ActionLink(item.Job.JobTitle, "Details", "Posting", new { Id = item.JobID })
                            </td>
                            <td class="company">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOpen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostingDescription)
                            </td>
                            

                            <td>
                                @Html.ActionLink("View", "Details", new { id = item.JobID }, new { @class = "btn btn-info" })
                                @*@Html.ActionLink("Apply Now", "Create", "Apply", new { id = item.JobId }, new { @class = "btn btn-success" })*@
                                @Html.ActionLink("Delete", "Delete",  new { id = item.JobID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }

               
            </table>
        </div>

    </div>

</div>

<style>
    a.classname {
        background: url(../Images/image.gif) no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px;
    }
</style>




