@model FinalProject.Models.Application

@{
    ViewBag.Title = "Archive Application";
}

<div class="container well well-lg" style=" text-align:center; width:1288px; padding-bottom:75px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

    <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
    <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
    <br />

    <h3 style="padding-bottom:30px">
        ∙ &nbsp; Archive Application &nbsp; ∙
    </h3>&nbsp;&nbsp;
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h3>Are you sure you want to move this application to Archives?</h3>
    <br />
    <div style="font-size:18px; margin-top:10px; margin-bottom:30px">

        <table style="width:35%; margin:0 auto; text-align:left">
            <tr>
                <td style="color:#02388a"><b>Job Title:</b></td>
                <td><b>@Html.DisplayFor(model => model.Posting.Job.JobTitle)</b></td>
            </tr>
            <tr>
                <td style="color:#02388a"><b>Applicant Name:</b></td>
                <td><b>@Html.DisplayFor(model => model.Applicant.FullName)</b></td>
            </tr>
            <tr>
                <td style="color:#02388a"><b>Application Number:</b></td>
                <td><b>@Html.DisplayFor(model => model.ID)</b></td>
            </tr>
            <tr>
                <td style="color:#02388a"><b>Posting ID:</b></td>
                <td><b>@Html.DisplayFor(model => model.Posting.ID)</b></td>
            </tr>

        </table>
    </div>

    <br /><br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" style="border:none; background-color:#00a203" value="Move to Archives" class="btn btn-primary btn-large" />
        <br /><br />
        @Html.ActionLink("Cancel", "Index")
    }
</div>



   
