@model FinalProject.Models.Application


@{
    ViewBag.Title = "View Application";
}



<div id="AppStatus" class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

    <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
    <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h3 style="text-align:center; padding-bottom:30px">
        ∙ &nbsp; Application Details &nbsp; ∙
    </h3>&nbsp;&nbsp;

    <h4 style="text-align:center; margin-left:18px; color:#02388a; display:inline; padding-bottom:30px; padding-right: 10px">
        <b>Application Status:</b>
    </h4>

    <h4 style="text-align:center; display:inline; margin-bottom:70px;" class="appStatus">
        @Html.DisplayFor(model => model.ApplicationStatus.Status)

    @*@if(this.Model.ApplicationStatus.Status.ToString() == "Pending")
    {
        this.Model.ApplicationStatus.Status. Style.Color = "#c2b200";
    }*@

    <h4 class="test" style="text-align:center; color:green; display:inline; margin-bottom:70px;">
        @Html.DisplayFor(model => model.ApplicationStatus.Status)
    </h4>
    <br />



    @* Divider *@
    <div class="modal-body row">

        @* Posting Details *@
     
        <div class="col-md-6" style="margin-top:30px;">
            <div class="container well well-lg" style="background-color:white; margin:0 auto; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

                <div class="form-horizontal">
                    <p style="font-size:20px; color:#02388a; text-align:center; margin-top:20px; margin-bottom:50px">∙ &nbsp; Posting Details &nbsp; ∙</p>

                    <table style="width:50%; margin:0 auto; font-size:18px">
                        <tr>
                            <td style="padding-bottom:10px; color:#02388a">
                                <h4 style="display:inline-block">Job Title:</h4>
                            </td>
                            <td style="padding-bottom:10px;">
                                @Html.DisplayFor(model => model.Posting.Job.JobTitle)
                            </td>
                        </tr>
                        <tr>
                            <td style=" color:#02388a">
                                <h4 style="display:inline-block">Openings:</h4>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Posting.NumberOpen)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px; color:#02388a">
                                <h4 style="display:inline-block">Location:</h4>
                            </td>
                            <td style="padding-bottom:10px;">
                                @Html.DisplayFor(model => model.Posting.School.City.CityName)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px; color:#02388a">
                                <h4 style="display:inline-block">School:</h4>
                            </td>
                            <td style="padding-bottom:10px;">
                                @Html.DisplayFor(model => model.Posting.School.SchoolName)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px; color:#02388a">
                                <h4 style="display:inline-block">Start Date:</h4>
                            </td>
                            <td style="padding-bottom:10px;">
                                @Html.DisplayFor(model => model.Posting.StartDate)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px; color:#02388a">
                                <h4 style="display:inline-block">End Date:</h4>
                            </td>
                            <td style="padding-bottom:10px;">
                                @Html.DisplayFor(model => model.Posting.JobEndDate)
                            </td>
                        </tr>
                    </table>
                  
                    <table style="width:50%; margin:0 auto; font-size:18px; display:none" id="hideTable">
                        <tr>
                            <td style="color:#02388a">
                                <h4 style="display:inline-block">Requirements:</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 @{
                                    foreach (var requirment in Model.Posting.Job.Requirements)
                                    {
                                        @:  @requirment.RequirementName <br />
                                     }
                                    }
                            </td>
                        </tr>
                        <tr> 
                            <td style="color:#02388a">
                                <br />
                                <h4 style="display:inline-block">Qualifications:</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <br />
                                 @{
                                foreach (var qualification in Model.Posting.Job.Qualifications)
                                {
                                    @:  @qualification.QualificationSet <br />
                                }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#02388a">
                                <h4 style="display:inline-block">Skills:</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               
                                 @{
                                foreach (var skill in Model.Posting.Job.Skills)
                                {
                                    @:  @skill.SkillName <br />
                                }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <h4 style="color:#02388a; display:inline-block">Description:</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Posting.PostingDescription)
                            </td>
                        </tr>
                    </table>

                </div>
                <a href="javascript:void(0);" style="margin-left:30px; padding-right:20px" onclick="$('#hideTable').show();">Show more...</a>
            </div>       
        </div>
      
        <div class="col-md-6" style="margin-top:30px">
            <div class="container well well-lg" style="background-color:white; margin:0 auto; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
                @* Applicant Details *@
                <div class="form-horizontal">
                    <p style="font-size:20px; color:#02388a; text-align:center; margin-top:20px; margin-bottom:50px">∙ &nbsp; Applicant Details &nbsp; ∙</p>

                    <table style="width:50%; margin:0 auto; font-size:18px">
                        <tr>
                            <td style="padding-bottom:24px; color:#02388a">
                                Name:
                            </td>
                            <td style="padding-left:20px; padding-bottom:24px">
                                @Html.DisplayFor(model => model.Applicant.FullName)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:22px; color:#02388a">
                                Address:
                            </td>
                            <td style="padding-left:20px; padding-bottom:24px">
                                @Html.DisplayFor(model => model.Applicant.Address)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:22px; color:#02388a">
                                City:
                            </td>
                            <td style="padding-left:20px; padding-bottom:24px">
                                @Html.DisplayFor(model => model.Applicant.City.CityName)
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-bottom:22px; color:#02388a">
                                Phone:
                            </td>
                            <td style="padding-left:20px; padding-bottom:24px">
                                @Html.DisplayFor(model => model.Applicant.PhoneNumber)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:22px; color:#02388a">
                                Email:
                            </td>
                            <td style="padding-left:20px; padding-bottom:24px">
                                @Html.DisplayFor(model => model.Applicant.EMail)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px; color:#02388a">
                                Resume:
                            </td>
                            <td style="padding-left:20px;">
                                <a href="https://omextemplates.content.office.net/support/templates/en-us/tf00002110.docx" download="Download Resume"><img src="http://pluspng.com/img-png/resume-png-resume-icon-png-1024.png" height="42" width="42" />Download Resume.</a>

                                
                            </td>
                        </tr>
                    </table>
                  <br />
               </div>
            </div>
            <div style="margin-bottom:50px; text-align:center; margin-top:50px">
                @Html.ActionLink("Schedule Interview", "IndexOld", "Application", null, new { @class = "btn btn-primary btn-large", @style = "border:none; background-color:#00a203; width:150px; margin-left: 12px; margin-right:20px" })

                @Html.ActionLink("Decline", "IndexOld", "Application", null, new { @class = "btn btn-danger btn-large", @style = "width:150px;" })
            </div>
        </div>

       
      
    </div>

    <div style="font-size:16px; text-align:center; margin-bottom:50px; margin-top:20px">
        <a href="javascript:void(0);" style="margin-left:30px; padding-right:20px" onclick="history.go(-1);">Back</a>
        <br /><br />
        @Html.ActionLink("Archive this Application", "Delete", new { @style = "border:0px; color:#438bc9; background-color:#f5f5f5" })
    </div>

</div>

        <style>
            .q{
                color: white;
                font-size: 1.2em;
                margin: 0 10% 5px 10%;
                text-align: center;
                box-sizing: border-box;
                background-color: red;
            }




        </style>

<script>
    function appStatusColor() {

        var appS = document.getElementsByClassName('appStatus');

        for (i = 0; i < appS.length; i++) {
            console.log(appS[i].innerText);
            if (appS[i].innerText == "Declined") {
                appS[i].style.color = "red";
            } else if (appS[i].innerText == "Pending") {
                appS[i].style.color = "#c2b200";
            } else if (appS[i].innerText == "Accepted") {
                appS[i].style.color = "green";
            }
        }
    }
    appStatusColor('AppStatus');
