@model FinalProject.Models.Application


@{
    ViewBag.Title = "View Application";
}

@* Divider *@
<div class="modal-body row">

    @* Posting Details *@
    <div class="col-md-6">
        <div class="container well well-lg">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3><strong><u>Posting Details</u></strong></h3>
                    <hr />

                    <table style="width:100%;">
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Job Title:</h4>
                            </td>
                            <td>
                                @Html.Label("title", "Computer Programmer")
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Location:</h4>
                            </td>
                            <td>
                                @Html.Label("location", "St.Catherine")

                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h4 style="display:inline-block">School:</h4>
                            </td>
                            <td>
                                @Html.Label("School", "Niagara College")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Type:</h4>
                            </td>
                            <td>
                                @Html.Label("type", "Full-Time")
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4 style="display:inline-block">Description:</h4>
                            </td>
                            <td>
                                <br />
                                @Html.Label("type", "We only hire who is good, team player, know what he's doing. We focus on Websites development. We need html guys and css guys to our team")
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Qualification:</h4>
                            </td>
                            <td>
                                <br />
                                @Html.Label("Quali", "C#, HTML, CSS, Java, JavaScript, SQL, JQuery, Azure, Pyton")
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4 style="display:inline-block">Responsible:</h4>
                            </td>
                            <td>
                                <br />
                                @Html.Label("resp", "Designing the website, Create a Database, Make it look good using CSS and Coding the Backend")
                            </td>
                        </tr>



                        <tr>
                            <td>
                                <h4 style="display:inline-block">Number of Openings:</h4>
                            </td>
                            <td>
                                @Html.Label("OPNum", "3")
                            </td>
                        </tr>
                    </table>

                </div>
            }

        </div>

    </div>
    <div class="col-md-6">
        <div class="container well well-lg">
            @* Applicant Details *@

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3><strong><u>Job Details</u></strong></h3>
                    <hr />

                    <table style="width:100%;">
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Name:</h4>
                            </td>
                            <td>
                                @Html.Label("name", "John Saluna")
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Address:</h4>
                            </td>
                            <td>
                                @Html.Label("add", "311 north street")

                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h4 style="display:inline-block">Phone:</h4>
                            </td>
                            <td>
                                @Html.Label("pho", "9053665795")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 style="display:inline-block">Email:</h4>
                            </td>
                            <td>
                                @Html.Label("type", "johnSaluna01@hotmail.ca")
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4 style="display:inline-block">Resume:</h4>
                                
                            </td>
                            <td>
                                
                                <a href="https://omextemplates.content.office.net/support/templates/en-us/tf00002110.docx" download="Download Resume"><img src="http://pluspng.com/img-png/resume-png-resume-icon-png-1024.png" height="42" width="42" />Download Resume</a>
                            </td>

                        </tr>
                        
                    </table>

                    
                    <br /><br /><br />
                    <div class="q">
                        <button ID="btnPostingSearch" style="border: 2px solid black;" class="btn btn-info-outline" type="submit">Accepted</button>
                        <button ID="btnPostingSearch" style="border: 2px solid black;" class="btn btn-info-outline" type="submit">Declined</button>
                    </div>
                    
                   

                </div>
            }

        </div>
    </div>
</div>



<style>
    .q {
        color: white;
        font-size: 1.2em;
        margin: 0 10% 5px 10%;
        
        text-align: center;
        box-sizing:border-box;
        background-color:red;
    }
    
</style>