@model FinalProject.Models.Application

@{
    ViewBag.Title = "Application";

}

<div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

    <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
    <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
    <br />

        <h3 style="text-align:center; padding-bottom:10px">
            ∙ &nbsp; All Applications &nbsp; ∙
        </h3>&nbsp;&nbsp;

   <div style="padding-bottom:50px; margin-left:165px">
        <h3 style="padding-top:20px; border:none; font-size:20px;">
            Search Applications:
        </h3>
        @Html.TextBox("txtApplicationSearch", null, new { @class = "form-control", @style="display:inline-block", @runat = "server" })
       <button ID="btnApplicationSearch" style="border: 2px solid black;" class="btn btn-sm" type="submit">Search</button>
   </div>
                  
   <div style="margin-left:165px">
       @Html.Label("lblResult", "Results found:   6", new { @style = "color:green" })
   </div>      
        <br />

        <div class="container">
            <table class="table table-bordered" style="width:75%; margin:0 auto">
                <thead style="color:white; font-size:18px; background-color:#012e72">
                    <tr>
                        <th>Application Date</th>
                        <th>Job Title</th>
                        <th>Employee</th>
                        <th>Applicant</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tableColor" style="font-size:17px; text-align:left">
                    <tr>
                        <td>December 2, 2017</td>
                        <td>Janitor</td>
                        <td>Cleaning Manager</td>
                        <td>Mortal Mortas</td>
                        <th>
                             
                            @Html.ActionLink("View", "Details", "Application", null, new { @class = "btn btn-default", @style = "border:0px; background-color:#f5f5f5;"})
                            @Html.ActionLink("Delete", "Delete", "Application", null, new { @class = "btn btn-default", @style = "border:0px; background-color:#f5f5f5; color:red" })
                        </th>

                    </tr>
                    <tr>
                        <td>January 5, 2018</td>
                        <td>Math Teacher</td>
                        <td>Administrator</td>
                        <td>Lady Nadine</td>
                        <th>
                            @Html.ActionLink("View", "Details", "Application", null, new { @class = "btn btn-default", @style = "border:0px;" })
                            @Html.ActionLink("Delete", "Delete", "Application", null, new { @class = "btn btn-default", @style = "border:0px; color:red" })
                        </th>
                    <tr>
                        <td>January 21, 2018</td>
                        <td>PE Coach</td>
                        <td>Administrator</td>
                        <td>Kim Wong</td>
                        <th>
                            @Html.ActionLink("View", "Details", "Application", null, new { @class = "btn btn-default", @style = "border:0px; background-color:#f5f5f5;" })
                            @Html.ActionLink("Delete", "Delete", "Application", null, new { @class = "btn btn-default", @style = "border:0px; background-color:#f5f5f5; color:red" })
                        </th>
                    </tr>
                    <tr>
                        <td>January 30, 2018</td>
                        <td>Vice-President</td>
                        <td>Administrator</td>
                        <td>Derrick Stewward</td>
                        <th>
                            @Html.ActionLink("View", "Details", "Application", null, new { @class = "btn btn-default", @style = "border:0px;" })
                            @Html.ActionLink("Delete", "Delete", "Application", null, new { @class = "btn btn-default", @style = "border:0px; color:red" })
                        </th>
                    </tr>
                    <tr>
                        <td>February 5, 2018</td>
                        <td>Principal</td>
                        <td>Administrator</td>
                        <td>Julia Shituri</td>
                        <th>
                            @Html.ActionLink("View", "Details", "Application", null, new { @class = "btn btn-default", @style = "border:0px; background-color:#f5f5f5;" })
                            @Html.ActionLink("Delete", "Delete", "Application", null, new { @class = "btn btn-default", @style = "border:0px; background-color:#f5f5f5; color:red" })
                        </th>
                    </tr>
                    <tr>
                        <td>February 7, 2018</td>
                        <td>Computer Programmer</td>
                        <td>IT Department</td>
                        <td>Lake Aviles</td>
                        <th>
                            @Html.ActionLink("View", "Details", "Application", null, new { @class = "btn btn-default", @style = "border:0px;" })
                            @Html.ActionLink("Delete", "Delete", "Application", null, new { @class = "btn btn-default", @style = "border:0px; color:red" })
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr />


    </div>


