@*@model IEnumerable<FinalProject.Models.Application>*@
@model FinalProject.Models.Applicant


@{
    ViewBag.Title = "Portfolio";

}

<script>

    function GetJobs() {
        var div = document.getElementById("div_Job");

        var divProfile = document.getElementById("div_Profile");

        if (div.style.display !== "none") {

        }
        else {
            div.style.display = "block";

            divProfile.style.display = "none";
        }
    }



    function GetProfile() {
        var div = document.getElementById("div_Profile");

        var divJob = document.getElementById("div_Job");

        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
            divJob.style.display = "none";

        }
    }



    function GetApplied() {
        var div = document.getElementById("div_Applied");
        var divSaved = document.getElementById("div_Saved");
        var divExpired = document.getElementById("div_Expired");

        if (div.style.display !== "none") {

        }
        else {
            div.style.display = "block";
            divSaved.style.display = "none";
            divExpired.style.display = "none";
        }
    }

    function GetSaved() {
        var div = document.getElementById("div_Saved");
        var divApplied = document.getElementById("div_Applied");
        var divExpired = document.getElementById("div_Expired");

        if (div.style.display !== "none") {

        }
        else {
            div.style.display = "block";
            divApplied.style.display = "none";
            divExpired.style.display = "none";
        }
    }

    function GetExpired() {
        var div = document.getElementById("div_Expired");
        var divApplied = document.getElementById("div_Applied");
        var divSaved = document.getElementById("div_Saved");

        if (div.style.display !== "none") {

        }
        else {
            div.style.display = "block";
            divApplied.style.display = "none";
            divSaved.style.display = "none";
        }
    }
</script>


<div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
    <div style="margin-bottom:60px; text-align:left">
        <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;"> Niagara Catholic District School Board</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />

        <h3 style="text-align:center; padding-bottom:10px">
            ∙ &nbsp; Portfolio &nbsp; ∙
        </h3>&nbsp;&nbsp;

        <div style="margin-bottom:20px">

        </div>

        <input type="button" onclick="GetJobs()" value="My Job" class="btn btn-default" id="but_jobs" style="width:90px; margin-left:50px;" />
        <input type="button" onclick="GetProfile()" value="My Profile" class="btn btn-default" id="profiles" />

        <div style="margin-bottom:20px">
        </div>

        <div id="div_Job">

            <input type="button" onclick="GetApplied()" value="Applied" class="btn btn-default" id="applied" style="width:90px; margin-left:50px;" />
            <input type="button" onclick="GetSaved()" value="Saved" class="btn btn-default" id="saved" />
            <input type="button" onclick="GetExpired()" value="Expired" class="btn btn-default" id="expired" />

            <div id="div_Applied" style="margin-top:50px; font-size:17px; margin-left:50px;">

                <h3>Jobs Applied For:</h3>
                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Janitor FullTime</Strong>
                </span>
                <br />
                <p><Strong>Niagara College</Strong></p>
                <input type="button" value="View" class="btn btn-default" style="border:1px solid gray; color:green" />

                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Teacher FullTime</Strong>
                </span>
                <p><Strong>Brook College</Strong></p>
                <input type="button" value="View" class="btn btn-default" style="border:1px solid gray; color:green" />

                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Principal FullTime</Strong>
                </span>
                <p><Strong>Welland Elementary</Strong></p>
                <input type="button" value="View" class="btn btn-default" style="border:1px solid gray; color:green" />

            </div>

            <div id="div_Saved" style="margin-top:50px; font-size:17px; margin-left:50px; display:none">

                <h3>Saved Jobs:</h3>
                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Programmer Part-Time</Strong>
                </span>
                <p><Strong>Rose Highschool</Strong></p>
                <input type="button" value="Apply" class="btn btn-default" style="border:1px solid gray; color:green" />
                <input type="button" value="Delete" class="btn btn-default" style="border:1px solid gray; color:red" />

                <hr />
                <span style="text-decoration: underline;">
                    <Strong> PE Coach</Strong>
                </span>
                <p><Strong>Broks Elementary School</Strong></p>
                <input type="button" value="Apply" class="btn btn-default" style="border:1px solid gray; color:green" />
                <input type="button" value="Delete" class="btn btn-default" style="border:1px solid gray; color:red" />

                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Vice-Principal Full-Time</Strong>
                </span>
                <p><Strong>West elementary</Strong></p>
                <input type="button" value="Apply" class="btn btn-default" style="border:1px solid gray; color:green" />
                <input type="button" value="Delete" class="btn btn-default" style="border:1px solid gray; color:red" />

            </div>

            <div id="div_Expired" style="margin-top:50px; font-size:17px; margin-left:50px; display:none">


                <h3>Expired Jobs:</h3>
                <input type="button" value="Clear All" class="btn btn-default" />
                <hr />
                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Designer Part-Time</Strong>
                </span>
                <p><Strong>North Highschool</Strong></p>
                <input type="button" value="View" class="btn btn-default" style="border:1px solid gray; color:green" />
                <input type="button" value="Delete" class="btn btn-default" style="border:1px solid gray; color:red" />

                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Database designer</Strong>
                </span>
                <p><Strong>August Elementary School</Strong></p>
                <input type="button" value="View" class="btn btn-default" style="border:1px solid gray; color:green" />
                <input type="button" value="Delete" class="btn btn-default" style="border:1px solid gray; color:red" />

                <hr />
                <span style="text-decoration: underline;">
                    <Strong> Professor Full-Time</Strong>
                </span>
                <p><Strong>Side Elementary</Strong></p>
                <input type="button" value="View" class="btn btn-default" style="border:1px solid gray; color:green" />
                <input type="button" value="Delete" class="btn btn-default" style="border:1px solid gray; color:red" />

            </div>

        </div>


        <div id="div_Profile" style="display:none">

            <div class="container well well-lg">


                <div class="form-horizontal">
                    <p style="font-size:20px; color:#02388a; text-align:center; margin-top:20px; margin-bottom:50px"><u>Applicant Details</u></p>

                    <table style="width:50%; margin:0 auto; font-size:18px">
                        <tbody>
                            <tr></tr>

                            <tr>

                                <td style="padding-left:20px; padding-bottom:24px">

                                    @{
                                        if (Model.ApplicantImage != null)
                                        {
                                            string imageBase64 = Convert.ToBase64String(Model.ApplicantImage.ImageContent);
                                            string imageSrc = string.Format("data:" + Model.ApplicantImage.ImageMimeType + ";base64,{0}", imageBase64);
                                            <img src="@imageSrc" style="max-height: 500px; max-width: 600px" class="img-responsive img-rounded" /><br />
                                        }
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:24px; color:#02388a">
                                    First Name:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.FName)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Last Name:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.LName)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Address:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.Address)
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Email:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.EMail)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Phone Number:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.PhoneNumber)
                                </td>
                            </tr>
                          
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Resume
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @{
                                        foreach (var f in Model.Files)
                                        {
                                            @:  @Html.ActionLink(f.fileName, "Download", new { id = f.ID }) <br />
                                        }
                                    }
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:20px; color:#02388a">
                                    <input type="button" value="Edit Profile" class="btn btn-default" />
                                </td>
                            </tr>



                        </tbody>
                    </table>

                    <br />

                </div>

            </div>

        </div>

    </div>
</div>

