@*@model IEnumerable<FinalProject.Models.Application>*@
@model FinalProject.Models.Applicant


@{
    ViewBag.Title = "Portfolio";

}

<script>
  function GetProfile() {
        var div = document.getElementById("div_Profile");

        var divJob = document.getElementById("div_Job");

        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
            divJob.style.display = "none";

        }
    }
</script>

<div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
    <div style="margin-bottom:60px; text-align:left">
        <p style="text-align:center; margin-top:20px; margin-bottom:15px; font-size:30px; color:#02388a;">  ∙ &nbsp; My Profile &nbsp; ∙</p>
        <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
        <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
        <br />

      
        <div id="div_Profile" style="display:none">

            <div class="container well well-lg">


                <div class="form-horizontal">
                    <p style="font-size:20px; color:#02388a; text-align:center; margin-top:20px; margin-bottom:50px"><u>Applicant Details</u></p>

                    <table style="width:50%; margin:0 auto; font-size:18px">
                        <tbody>
                            <tr></tr>

                            <tr>

                                <td style="padding-left:20px; padding-bottom:24px">

                                    @{
                                        if (Model.ApplicantImage != null)
                                        {
                                            string imageBase64 = Convert.ToBase64String(Model.ApplicantImage.ImageContent);
                                            string imageSrc = string.Format("data:" + Model.ApplicantImage.ImageMimeType + ";base64,{0}", imageBase64);
                                            <img src="@imageSrc" style="max-height: 500px; max-width: 600px" class="img-responsive img-rounded" /><br />
                                        }
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:24px; color:#02388a">
                                    First Name:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.FName)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Last Name:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.LName)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Address:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.Address)
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Email:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.EMail)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Phone Number:
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @Html.DisplayFor(modelItem => Model.PhoneNumber)
                                </td>
                            </tr>
                          
                            <tr>
                                <td style="padding-bottom:22px; color:#02388a">
                                    Resume
                                </td>
                                <td style="padding-left:20px; padding-bottom:24px">
                                    @{
                                        foreach (var f in Model.Files)
                                        {
                                            @:  @Html.ActionLink(f.fileName, "Download", new { id = f.ID }) <br />
                                        }
                                    }
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:20px; color:#02388a; text-align:center">
                                    @Html.ActionLink("Edit Profile", "Edit","Applicants", new { id = Model.ID }, new { @class = "btn btn-primary btn-sm", @style = "border:none; font-weight:bold; background-color:#00a203" })
                                </td>
                            </tr>



                        </tbody>
                    </table>

                    <br />

                </div>

            </div>

        </div>







    </div>
</div>

