@model FinalProject.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobSummary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
