@model IEnumerable<FinalProject.Models.Job>

@{
    ViewBag.Title = " Job Index";
}


<div class="container well well-lg" style=" width:1288px; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">
    
    <p style="text-align:center; margin-top:40px; margin-bottom:15px; font-size:30px; color:#02388a;">  ∙ &nbsp; Jobs List &nbsp; ∙</p>
    <hr style="height:6px; width:600px; margin-bottom:0px;border:none;color:#012e72;background-color:#012e72;" />
    <hr style="height:4px; width:500px; margin-top:4px; border:none;color:#00a203;background-color:#00a203;" />
    <br />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p style="text-align:center; font-size:16px">
        @Html.ActionLink("Create New Job", "Create")
    </p>

    <br />

    <div style="width:75%; margin:0 auto;" >
            <br />
            <br />
    <div class="borderVibe" style="border:1px solid #d5d2d2; background-color:white; margin-bottom:50px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px">

    <table style="width:80%; margin-bottom:50px; margin-top:50px; margin-left:80px; margin-right:30px;">
        <tr>
            <th style="color:#012e72; font-size:18px; padding-bottom:20px">
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th style="color:#012e72; font-size:18px; padding-bottom:20px">
                @Html.DisplayNameFor(model => model.JobSummary)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td  style="color:#012e72; vertical-align:top; font-size:16px">
                     <br />
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td style="width:500px; vertical-align:top">
                    <br />
                    @Html.DisplayFor(modelItem => item.JobSummary)
                </td>
                <td style="width:50px; padding-left:50px; vertical-align:top">
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Archive", "Delete", new { id = item.ID })

                </td>
              
            </tr>
        }

    </table>

    </div>
    </div>
</div>