<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js" async></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js" async></script>


</head>
<body style="margin:0; padding:0px;">
    <div class="navbar navbar-light navbar-relative-top" style="border-top:2px solid white; border-bottom:10px solid white; background-color: #012e72;">
        <div class="container">

            <!-- Logo -->
            <div class="navbar-header">
                <img src="/Images/CompanyLogo2.png" alt="Logo" style="height:60%; width:60%; margin-left: -17px; padding-top:-12px; padding-bottom:-12px;" /> 
            </div>

            <!--- Navbar Menu Items -->

               <div id="myNav" class="navbar-collapse collapse">
                <ul id="myNav2" class="nav navbar-nav" style="font-size:23px; margin-top:18px; ">
                    <li id="home">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="postings" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Postings
                        </a>
                        <ul class="dropdown-menu">
                            <li style="font-size:18px">@Html.ActionLink("Create Posting", "CreateStart", "Posting")</li>
                            <li style="font-size:18px">@Html.ActionLink("View Postings", "Index", "Posting")</li>
                            <li style="font-size:18px">@Html.ActionLink("View Expired Postings", "IndexExpired", "Posting")</li>
                        </ul>
                    </li>

                    <li id="applications" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications</a>
                        <ul class="dropdown-menu">
                            <li style="font-size:18px">@Html.ActionLink("View Applications", "Index", "Application")</li>
                            <li style="font-size:18px">@Html.ActionLink("Applicant Details", "Index", "Applicant")</li>
                        </ul>
                    </li>

                     <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                        <ul class="dropdown-menu">
                            <li style="font-size:18px">@Html.ActionLink("My Profile", "Profile", "Portfolio")</li>
                            <li style="font-size:18px">@Html.ActionLink("Bookmarks", "Index", "Portfolio")</li>
                            <li style="font-size:18px">@Html.ActionLink("Expired", "Index", "Portfolio")</li>
                            <li style="font-size:18px">@Html.ActionLink("My Jobs", "Index", "Portfolio")</li>
                            <li style="font-size:18px">@Html.ActionLink("Applied For", "Index", "Portfolio")</li>
                        </ul>
                    </li>

                    <li id="archives" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archives</a>
                        <ul class="dropdown-menu">
                            @*<li style="font-size:18px">@Html.ActionLink("Applications Archive", "IndexApplications", "Archive")</li>*@              
                            <li style="font-size:18px">@Html.ActionLink("Postings Archive", "IndexPostings", "Archive")</li> 
                            <li class="nav-divider"></li>
                            <li style="font-size:18px">@Html.ActionLink("Jobs", "Index", "Jobs")</li>
                        </ul>
                    </li>
                </ul>
                <div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    <footer style="bottom:0px">
        <div style="color:white; padding:15px 0 15px 0; margin-bottom:0px; border:none; bottom:0; text-align:center; font-size:14px; background-color: #012e72;">
            Niagara Catholic District School Board - Copyright © @DateTime.Now.Year
        </div>

        <div style=" height:5px; margin-bottom:0px; border:none; bottom:0; background-color: #00a203;">

        </div>
    </footer>
   
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
